{
    "host": "example.com",
    "port": 1234,
    "read_queue": "this_to_read", 
    "exchange": "this_routes", 
    "write_queue": "this_to_write", 
    "routing_key": "not_that_secret", 
    "user": "someone",
    "password": "very_secret"
}